cmake-build-debug
.idea
main.exe
.vs
Debug
out
x64
.vscode
build
.vcxproj
.vcxproj.filters
.vcxproj.user
.sln
.cmake
.CMakeFiles
.Testing
.ninja_deps
.ninja_log
.build.ninja
.cmake_install.cmake
.Create.ilk
.Create.pdb
.VSInheritEnvironments.txt